:root {
  --primary-color: black;
  --secondary-color: grey;
  --button-text-color: white;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

header {
  height: 100vh;
}

@media (max-width: 1025px) and (min-width: 330px) {
  header {
    height: auto;
  }
}

@media (max-width: 575px) {
  .skills-shadow::after {
    content: "";
    display: block;
    height: 0.5px;
    width: 60%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
  }

  .skills-container {
    padding-top: 20em;
  }
  .container.portfolio {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .separator::after {
    content: "";
    display: block;
    height: 0.5px;
    width: 150px;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 300px) {
  .skills-container {
    padding-top: 1.5em;
  }
}

@media (min-width: 900px) and (max-height: 700px) {
  .skills-container {
    padding-top: 10em;
  }
}

h1 {
  font-size: 60px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
}

.navbar-brand {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all ease-in-out 250ms;
}
.button-shadow {
  box-shadow: var(--box-shadow);
}

.button-main {
  color: var(--button-text-color);
  background: var(--primary-color);
  border-radius: 25px;
  padding: 12px 30px;
  transition: all ease-in-out 250ms;
}
.button-secondary {
  color: var(--button-text-color);
  background: var(--primary-color);
  border-radius: 25px;
  padding: 12px 20px;
  transition: all ease-in-out 250ms;
}

.button-main:hover,
.button-secondary:hover {
  opacity: 0.8;
  color: var(--button-text-color);
}

.padding-container {
  padding-top: 100px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

a:hover {
  color: var(--primary-color);
}

.hero-section {
  display: flex;
  align-items: end;
  width: auto;
  height: 200px;
  background-color: var(--primary-color);
}

h1#hero-title {
  color: var(--button-text-color);
  margin-left: 50px;
  font-size: 60px;
}


.form-spacing {
  margin-top: -80px;
}

.skills-container {
  position: relative;
  top: 0;
  transition: top 0.3s ease; /* Add a smooth transition effect */
}
.skills-container.scrolled {
  top: -200px; /* Adjust the value as needed to move it up */
  margin-bottom: -200px;
}

a.footer-button {
  color: var(--primary-color);
  background: #e7e7e7bb;
  border-radius: 50%;
  padding: 12px 14px;
  transition: all ease-in-out 250ms;
  margin: 8px;
}

a.footer-button:hover {
  background: var(--primary-color);
  color: var(--button-text-color);
}
