/*
Add default colors and font families in root
*/
:root {
  --primary-color: black;
  --secondary-color: grey;
  --button-text-color: white;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px) {
  .skills-shadow::after {
    content: "";
    display: block;
    height: 0.5px;
    width: 60%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
  }

  .container.portfolio {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .separator::after {
    content: "";
    display: block;
    height: 0.5px;
    width: 150px;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.2);
  }
}

header {
  height: 100vh;
}

h1 {
  font-size: 60px;
}
h4 {
  color: var(--secondary-color);
}
.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
}

.navbar-brand {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all ease-in-out 250ms;
}
.button-shadow {
  box-shadow: var(--box-shadow);
}

.button-main {
  color: var(--button-text-color);
  background: var(--primary-color);
  border-radius: 25px;
  padding: 12px 30px;
}
.button-secondary {
  color: var(--button-text-color);
  background: var(--primary-color);
  border-radius: 25px;
  padding: 12px 20px;
}

.padding-container {
  padding-top: 100px;
}

.padding-text {
  padding-top: 20px;
}

.bootstrap-icon {
  padding-top: 20px;
  padding-left: 15px;
}
.github-icon {
  padding-top: 20px;

  padding-left: 11px;
}
.design-icon {
  margin: 20px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

a:hover {
  color: var(--primary-color);
}

.hero-section {
  display: flex;
  align-items: end;
  width: auto;
  height: 200px;
  background-color: var(--primary-color);
}

h1#hero-title {
  color: var(--button-text-color);
  margin-left: 50px;
  font-size: 60px;
}

h2.secondary-heading {
  font-size: 35px;
  font-weight: 200;
}

.form-spacing {
  margin-top: -80px;
}

.skills-container {
  position: relative;
  top: 0;
  transition: top 0.3s ease; /* Add a smooth transition effect */
}
.skills-container.scrolled {
  top: -200px; /* Adjust the value as needed to move it up */
  margin-bottom: -200px;
}
